#info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  padding: 8px;

  border-right: 2px solid #303030;
}

#info h2 {
  margin: 0;
}

#info table {
  width: fit-content;
}

td {
  text-align: left;
}

th {
  text-align: right;
  padding: 5px 0px;
}

#intro {
  margin: auto;
  margin-top: 16px;

  flex-grow: 1;

  max-width: 640px;
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
  }

  #info {
    border-right: unset;
    border-top: 2px solid #303030;

    width: calc(100% - 16px);
  }
}
