<script setup lang="ts">
import "./about.css";
</script>

<template>
  <div id="info">
    <h2>Links</h2>
    <!-- Table -->
    <table>
      <tbody>
      <tr>
        <th>Pronouns.page:</th>
        <td><a href="https://en.pronouns.page/@paricbat">pronouns.page/@paricbat</a></td>
      </tr>
      <tr>
        <th>Codeberg:</th>
        <td><a href="https://codeberg.org/paricbat">codeberg.org/paricbat</a></td>
      </tr>
      <tr>
        <th>GitHub:</th>
        <td><a href="https://github.com/paricbat">github.com/paricbat</a></td>
      </tr>
      <tr>
        <th>Fedi:</th>
        <td><a href="https://blahaj.zone/@paricbat">@paricbat@blahaj.zone</a></td>
      </tr>
      <tr>
        <th>Matrix:</th>
        <td><a href="https://matrix.to/#/@paricbat:catgirl.cloud">@paricbat:catgirl.cloud</a></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><a href="mailto:paricbat@projectspink.eu">paricbat@projectspink.eu</a></td>
      </tr>
      </tbody>
    </table>
    <a href='https://ko-fi.com/R6R311J2ME' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
  </div>
  <!-- Introduction -->
  <p id="intro">
    Hello! I'm Veru or Veronika (she/her), I'm a programmer trans girl from Czechia. I'm interested in Linux,
    mobile Linux (like <a href="https://postmarketos.org">postmarketOS</a>, etc.), <a href="https://servo.org">Servo</a>,
    or whatever is on my mind :3
  </p>
</template>

<style scoped>
  main {
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
  }
</style>
