<script setup lang="ts">
import AutoLink from '../components/AutoLink.vue';

</script>

<template>
  <span style="margin-top: 16px">
    Here's a list of note-worthy stuff I did:
    <ul>
      <li>
        a port of postmarketOS for Samsung Galaxy A32 4G:
        <AutoLink url="https://gitlab.com/postmarketOS/pmaports/-/merge_requests/4859" /></li>
      <li>
        some contributions to the Servo project:
        <ul>
          <li><AutoLink url="https://github.com/servo/mozangle/pull/54" /></li>
          <li><AutoLink url="https://github.com/servo/servo/pull/29726" /></li>
        </ul>
      </li>
      <li>
        a <code>Mark as Read</code> button for Fractal:
        <AutoLink url="https://gitlab.gnome.org/World/fractal/-/merge_requests/1755" />
      </li>
      <li>
        contributions to <a href="https://brioche.dev">Brioche</a>:
        <ul>
          <li>
            Some packages:
            <a href="https://github.com/brioche-dev/brioche-packages/pull/168">just</a>,
            <a href="https://github.com/brioche-dev/brioche-packages/pull/229">nasm</a>
          </li>
          <li>
            Add support for unarchiving <code>.zip</code> archives:
            <AutoLink url="https://github.com/brioche-dev/brioche/pull/176" />
          </li>
        </ul>
      </li>
    </ul>
  </span>
</template>

<style>
li {
    text-align: left;
    margin-top: 4px;
}
</style>
