<script setup lang="ts">
import "./base.css";
import { RouterView } from "vue-router";
import { routes } from "./main";
</script>

<template>
  <header>
    <img id="logo" src="/pfp.webp" />
    <div id="header-buttons">
      <RouterLink v-for="route in routes" :to="{ name: route.name }" class="header-button">{{ route.meta.title }}</RouterLink>
    </div>
  </header>
  <main>
    <RouterView />
  </main>
</template>

<style scoped></style>
