/* Base */

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: JetBrains Mono, monospace;
  color: whitesmoke;
  background-color: #242424;

  margin: 0px;

  height: 100%;
}

a {
  color: whitesmoke;
  text-decoration: underline;
}

a:visited {
  color: lightgray;
}

/* Header */

main {
  text-align: center;
  height: calc(100% - 64px);

  display: flex;
  justify-content: center;
}

header {
  height: 64px;
  background-color: #303030;

  display: flex;
  flex-direction: row;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: left;

  height: 48px;
  margin: 8px;
  border-radius: 8px;
}

#header-buttons {
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: end;
}

.header-button {
  text-align: center;

  width: fit-content;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

code {
  background-color: #1e1e1e;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  border-style: solid;
  padding: 4px;
}
